* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("assets/freedom.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
}